<div class="card">
  <div class="card-body">
    <div class="col-lg-6" *ngFor="let panel of panels | async">
      <div class="panel-description">
        Image: <input [(ngModel)]="panel.src"><br />
        Image Caption: <input [(ngModel)]="panel.alt"><br />
        Category: <input [(ngModel)]="panel.category"><br />
        Deal: <input [(ngModel)]="panel.shop"><br />
        <button class="btn btn-success" (click)="beginUpdatingPanel(panel)">Update</button>
        <button class="btn btn-danger" (click)="beginDeletingPanel(panel)">Delete</button>
      </div>
      <br />
    </div>
  </div>
</div>
