nav.navbar {
  padding-left: 15%;
  padding-right: 15%;
  background-color: #dbdbdb;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 13px;
}

a {
  color: #55565a;
}

#brand1 {
  background-color: white;
  padding-right: 30px;
  padding-left: 30px;
}

#brand2 {
  background-color: #b8b8ba;
  padding-right: 30px;
  padding-left: 30px;
}

#cart {
  background-color: #00b1d4;
  padding-right: 50px;
  padding-left: 50px;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
}

#logo {
  margin: 2% 40% 1% 40%;
}

.dropdown-toggle {
  font-weight: bold;
  font-size: 14px;
}

.search-button {
  background-color: transparent;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  color: #00b1d4;
  border: 0;
}

.img-link1 {
  margin: 1% 15% 1% 15%;
}

/* .img-link2 {
  margin: 0 15% 1% 15%;
} */

.container {
    position: relative;
    text-align: center;
    margin: 0 15% 1% 8.9%;
}

.designer-shoes {
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: inline-block;
    margin-right: -10px;
    color: white;
}

#designer {
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0
}

#shoes {
  text-align: left;
  margin-top: 0;
  padding-top: 0
}
